<!DOCTYPE html>
<html>
  <body>
    <h2>Add Event</h2>
    <form action="/submitEvent" method="POST">
      
      <p><p>Username</p><input type="text" name="EventID" required></p>
      <p><p>Password</p><input type="text" name="EventName" required></p>
      <p><p>First Name</p><input type="text" name="Location" required></p>
      <p><p>Last Name</p><input type="text" name="Description" required></p>
      <p><p>Email</p><input type="text" name="ContactInfo" required></p>
      
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
