<!DOCTYPE html>
<html>
  <body>
    <h2>Add Event</h2>
    <form action="/submitEvent" method="POST">
      
      <p><p>Event ID</p><input type="text" name="EventID" required></p>
      <p><p>Category</p><input type="text" name="Category" required></p>
      <p><p>Date (MMDDYYYY)</p><input type="text" name="Date" required></p>
      <p><p>Price</p><input type="text" name="Price" required></p>
      <p><p>Event Name</p><input type="text" name="EventName" required></p>
      <p><p>Location</p><input type="text" name="Location" required></p>
      <p><p>Description</p><input type="text" name="Description" required></p>
      <p><p>Contact Info</p><input type="text" name="ContactInfo" required></p>
      
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
